<div class="overlay-sidebar-bar searcher">
</div>
<div @fadeInAnimation class="row">
  <div class="fade-anim d-inline-block side-bar col-md-3">
    <aside class="searcher">
      <div class="toggle-close-icon toggle-icon">
        <a href="javascript:void(0)" (click)="toggleSearcher($event)">
          <i class="fa-window-close fa"></i>
        </a>
      </div>

      <ng-content select=".sidebar-content"></ng-content>
    </aside>
  </div>
  <div class="fade-anim d-inline-block right-content col-md-9">
    <div class="search-icon toggle-icon">
      <a (click)="toggleSearcher($event)" href="javascript:void(0)">
        <i class="fa-search fa fa-2x"></i>
      </a>
    </div>
    <div class="card">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="'/dashboard'">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <b>{{headerTitle}}</b>
        </li>
        <li class="add-icon">
          <a class="ml-2 " href="javascript:void(0)" (click)="add()">
            <i class="fa fa-plus"></i> Add
          </a>
        </li>
      </ol>

      <div class="card-body">
        <blockquote class="mb-0">
          <ng-content select=".main-content"></ng-content>
        </blockquote>
      </div>
    </div>

  </div>
</div>
