<form [formGroup]="form" (ngSubmit)="resetPassword()">
    <div *ngIf="form.errors" class="alert alert-danger">
        the entered password and confirmed password does not match
    </div>

    <div class="form-group input-group row">
        <span class="input-group-addon">
            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
        </span>
        <input formControlName="email" id="email" type="email" placeholder="Email Address" class="form-control">
    </div>

    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
        <div *ngIf="email.errors.required">email is required</div>
    </div>

    <div class="form-group input-group row">
        <span class="input-group-addon">
            <i class="fa fa-key fa-lg" aria-hidden="true"></i>
        </span>
        <input formControlName="newPassword" id="newPassword" type="password" placeholder="New Password" class="form-control">
    </div>


    <div class="form-group input-group row">
        <span class="input-group-addon">
            <i class="fa fa-key fa-lg" aria-hidden="true"></i>
        </span>
        <input formControlName="confirmedPassword" id="confirmedPassword" type="password" placeholder="Confirm Password" class="form-control">
    </div>

    <button class="btn btn-success btn-auth  pull-right row" type="submit">Reset Password</button>
</form>

<div *ngIf="responseMessage" class="alert alert-danger help-block row"> {{responseMessage}}</div>