<div  class="inner-container">
  <div class="row small-12 columns">

    <h4 class="card-title"> Enter Patient Details page</h4>
  </div>
  <div class="row form-group">
    <div class="small-12 columns">
      <a [routerLink]="'/'" class="link style-text-small style-text-light">
        <i class="fa-arrow-circle-left fa fa-1x"></i>
        Back
      </a>
    </div>
  </div>

  <div @fadeInAnimation class="row form-group">
    <div class="fade-anim small-12 columns" style="width:-webkit-fill-available;    padding: 5px 200px  5px;">
      <div class="card text-center"style="border-radius: 25px;">
        <div class="card-header">
          Your Peronsonal Details
        </div>
        <div class="card-block">
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Title:</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.title" />
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">First Name:</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.firstName" />
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">
                Last Name:
              </label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.lastName" />
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Date of Birth:</label>
            </div>
            <div class="col-md-1">
              <p-calendar [(ngModel)]="patientDetails.DOB"></p-calendar>
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Gender:</label>
            </div>
            <div class="col-md-4" style="text-align:left;">
              <input type="radio" name="gender" value='Male' [(ngModel)]="patientDetails.gender==M">Male
              <input type="radio" name='gender' value='Female' [(ngModel)]="patientDetails.gender==F">Female
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fade-anim small-12 columns" style="width:-webkit-fill-available;    padding: 5px 200px  5px;">
      <div class="card text-center" style="border-radius: 25px;">
        <div class="card-header">
          Your Contact Details
        </div>
        <div class="card-block">
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Mobile:</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.mobile" />
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Email:</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="email" [(ngModel)]="patientDetails.email" />
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Phone:</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.Phone" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fade-anim small-12 columns" style="width:-webkit-fill-available;    padding: 5px 200px  5px;">
      <div class="card text-center" style="border-radius: 25px;">
        <div class="card-header">Your Address</div>
        <div class="card-block">
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Residential Address</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.residentialAddress" />
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Residential Suburb</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.residentialSuburb" />
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Residential Postcode</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.residentialPostCode" />
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Residential State</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.residentialState" />
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Is your Postal Address same as Residential?</label>
            </div>
            <div class="col-md-4" style="text-align: left;">
              <input type="checkbox" [(ngModel)]="patientDetails.postAddressSameAsResidentialAddress" style="height:20px">
              <!--<p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>-->
            </div>
          </div>
          <div *ngIf="!patientDetails.postAddressSameAsResidentialAddress">
            <div class="row form-group" style="padding-top:5px">
              <div class="col-md-4">
                <label class="small-2 columns label-text">Postal Address</label>
              </div>
              <div class="col-md-4">
                <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.postalAddress" />
              </div>
            </div>
            <div class="row form-group" style="padding-top:5px">
              <div class="col-md-4">
                <label class="small-2 columns label-text">Postal Suburb</label>
              </div>
              <div class="col-md-4">
                <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.postalSuburb" />
              </div>
            </div>
            <div class="row form-group" style="padding-top:5px">
              <div class="col-md-4">
                <label class="small-2 columns label-text">Postal Postcode</label>
              </div>
              <div class="col-md-4">
                <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.postalPostCode" />
              </div>
            </div>
            <div class="row form-group" style="padding-top:5px">
              <div class="col-md-4">
                <label class="small-2 columns label-text">Postal State</label>
              </div>
              <div class="col-md-4">
                <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.postalState" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fade-anim small-12 columns" style="width:-webkit-fill-available;    padding: 5px 200px  5px;">
      <div class="card text-center" style="border-radius: 25px;">
        <div class="card-header">
          Your Health Fund Details
        </div>
        <div class="card-block">
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">
                Are you in a Private Health Fund
              </label>
            </div>
            <div class="col-md-4" style="text-align:left">
              <input type="checkbox" [(ngModel)]="patientDetails.hasHealthFund" style="height:20px">
            </div>
          </div>
          <div *ngIf="!patientDetails.hasHealthFund">
            <div class="row form-group" style="padding-top:5px">
              <div class="col-md-4">
                <label class="small-2 columns label-text">Private Health Fund Name:</label>
              </div>
              <div class="col-md-4">
                <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.healthFundName" />
              </div>
            </div>
            <div class="row form-group" style="padding-top:5px">
              <div class="col-md-4">
                <label class="small-2 columns label-text">Private Health Fund Member Number:</label>
              </div>
              <div class="col-md-4">
                <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.healthFundMemberNumber" />
              </div>
            </div>
            <div class="row form-group" style="padding-top:5px">
              <div class="col-md-4">
                <label class="small-2 columns label-text">Private Heatlh Fund Refreence Number:</label>
              </div>
              <div class="col-md-4">
                <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.healthFundReferenceNumber" />
              </div>
            </div>

          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Medicare Member Number:</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.medicareMemberNumber" />
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Meidcare Reference Number:</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.medicareExpiryDate" />
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">Medicare Expiry Date:</label>
            </div>
            <div class="col-md-1">
              <p-calendar [(ngModel)]="patientDetails.medicareExpiryDate"></p-calendar>
            </div>
          </div>
          <div class="row form-group" style="padding-top:5px">
            <div class="col-md-4">
              <label class="small-2 columns label-text">DVA Pension Number:</label>
            </div>
            <div class="col-md-4">
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="patientDetails.dvaPensionNumber" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" small-12 columns" style="width:-webkit-fill-available;text-align:center ; padding: 5px 200px  5px;">
      <button type="button" class="button btn-primary btn-radius custbtn" (click)="SubmitPatient()">submit</button>
    </div>
    </div>
  </div>
