<app-loader></app-loader>
<div [ngClass]="{'menu-collapsed': isMenuCollapsed}" baThemeRun>
    <div class="additional-bg"></div>
    <div>
        <div [class.al-main]="true">
            <div [class.al-content]="currentUser == null">
                <section class="content container-fluid" [class.top-padding]="currentUser == null">
                    <router-outlet></router-outlet>
                </section>
            </div>
        </div>
        <app-back-top position="200" ></app-back-top>
        <footer class="main-footer calibriFont14">
            <div class="pull-left">
                <em>Extract Systems</em>
            </div>
            <div class="pull-right">
                &copy; 2017
                <strong>
            <a id="tenantwebsite" href="http://www.extractsystems.com/" class="tenant-link" target="_blank">ExtractSystems</a>
        </strong> All Rights Reserved.
            </div>
        </footer>
    </div>

</div>
