@import '../layout/sass/conf/conf';
@import '../layout/color-variables';

/*--------From Admin---------*/

.login-section {
    .auth-logo {
        margin-top: 50px;
        border-radius: 80px 0px 0px 0px;

        img{
            text-align: center;
        }
    }
    .auth-block {
        border-radius: 0px 50px 0px 50px;
        background: #FFF;
        padding: 45px 25px 25px 45px;
        border: 3px solid $login-border-color;
    }
    .input-group-addon{
        background: $login-border-color;
        color: #fff;
    }
}