<div class="login-section" [@loginAnimation]>

    <div class="row">
        <div class="auth-logo col-12 col-md-6 mx-auto col-lg-5 col-xl-4" style="text-align:center">
           <a [routerLink]="'/'">
              <img class="img-fluid mx-auto d-block" src="{{ ( 'app_logo' | appPicture) }}" border="0" alt="EXTRACT" title="EXTRACT">
           </a>
        </div>
    </div>

    <div class="row">
        <div class="auth-block col-12 col-md-6 mx-auto col-lg-5 col-xl-4">
            <router-outlet></router-outlet>

        </div>
    </div>

</div>
