<div class="inner-container">
  <div class="row form-group">
    <div class="small-12 columns">
      <a [routerLink]="'/'" class="link style-text-small style-text-light">
        <i class="fa-arrow-circle-left fa fa-1x"></i>
        Back
      </a>
    </div>
  </div>
  <div class="row small-12 columns">

    <h4 class="card-title"> Search Patient Details </h4>
  </div>


  <div class="fade-anim small-12 columns" style="width:-webkit-fill-available;    padding: 5px 50px 5px;">
    <div class="card text-center">
      <div class="card-header">
        Search Patient Details
      </div>
      <div class="card-block row small-12 columns" style="padding: 15px;">
        <div class="row form-group small-6 columns" style="padding-top:5px">
          <div class="col-md-6" style="text-align:right;">
            <label class="small-2 columns label-text">PatientID:</label>
          </div>
          <div class="col-md-6">
            <input autocomplete="off" class="form-control" type="text" [(ngModel)]="PatientID" />
          </div>
        </div>
        <div class="row form-group small-6 columns" style="padding-top:5px">
          <div class="col-md-6" style="text-align:right;">
            <label class="small-2 columns label-text">Patient First Name:</label>
          </div>
          <div class="col-md-6">
            <input autocomplete="off" class="form-control" type="text" [(ngModel)]="FirstName" />
          </div>
        </div>
        <div class="row form-group small-6 columns" style="padding-top:5px">
          <div class="col-md-6" style="text-align:right;">
            <label class="small-2 columns label-text">Patient Last Name:</label>
          </div>
          <div class="col-md-6">
            <input autocomplete="off" class="form-control" type="text" [(ngModel)]="LastName" />
          </div>
        </div>
        <div class="row form-group small-6 columns" style="padding-top:5px">
          <div class=" small-6 columns" style="width:-webkit-fill-available;text-align:right ; padding: 5px 50px 5px;">
            <button type="button" class="button btn-primary btn-radius custbtn" (click)="SearchPatient()">Search</button>
          </div>
        </div>

        <div *ngIf="PatientList.length>0" class="row form-group small-6 columns" style="padding: 5px 50px 5px;">
          <p-dataTable [value]="PatientList">
            <p-column *ngFor="let col of Patientcols" [field]="col.field" [header]="col.header">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span *ngIf="col.header==='Patient Id'"><a style="color:blue;" routerLink="/Patient" [queryParams]="{ PatientID: data[col.field] }" >{{data[col.field]}}</a></span>
                <span *ngIf="col.header!=='Patient Id'">{{data[col.field]}}</span>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </div>
    </div>
  </div>

</div>
