// Page Top Start (Header)
$theme-color: #00ACDD;
$theme-color-one: #FF5006;
$page-top-color: #ffffff;
$top-input-color-override: black;
$logo-color: #303030;
$user-color: $theme-color;
$header-bottom-border:$theme-color-one;
$header-bottom-border-shadow: rgba(0, 0, 0, 0.5);
$user-footer-background:#eaeff6;
$user-footer-background-hover:#e7e7e7;
$user-footer-border:#ddd;
$user-footer-border-hover:#adadad;
$user-footer-btn-default:#666;
$user-header-color:white;
$user-header-background:$theme-color;
$user-body-anchor-color:#444;
$user-body-anchor-background:white;
$sidebar-background-color:#409BC2;
$sidebar-background-color-hover:#132338;
$sidebar-list-border: #21272a;
$sidebar-list-text-color: #ddd;
$sidebar-list-text-color-hover:$theme-color;
$sidebar-hover-elem-border-color:$theme-color;

// Page Top End

//Login Start
$text-color: #ffffff;
$text-color-hover:#d6d6d6;
$login-border-color:$theme-color;

// Login End
