<form [formGroup]="form" (ngSubmit)="sendEmail()">
    <div *ngIf="form.errors" class="alert alert-danger">
        the email is not registered
    </div>
    <div class="form-group input-group row">
        <span class="input-group-addon">
            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
        </span>
        <input formControlName="email" id="email" type="email" placeholder="Email Address" class="form-control">
    </div>
    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
        <div *ngIf="email.errors.required">email is required</div>
        <!-- <div *ngIf="email.errors.shouldBeRegistered">email should be registered </div> -->
    </div>
    <button class="btn btn-success btn-auth  pull-right row" type="submit">Send Email</button>
</form>

<div *ngIf="responseMessage" class="alert alert-danger help-block row"> {{responseMessage}}</div>
